body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
}
.canvas {
  background-color: white;
  width: calc(16 * 16px);
  height: calc(16 * 16px);
  display: flex;
  flex-wrap: wrap;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
}
